body{
  margin: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.c1{
  background: lightblue;
  height: 100px;
}

.c2{
  background: lightcoral;
  height: 400px;
}

.c3{
  background: lightgoldenrodyellow;
  height: 400px;
}

.c1, .container-inner{
  width: 100%;
}

@media screen and (min-width: 500px){
  .c1{
    height: 175px;
  }
}

@media screen and (min-width: 800px){
  .container{
    width: 800px;
    margin: 0 auto;
  }

  .c1{
    width: 30%;
    height: 100vh;
  }

  .container-inner{
    width: 70%;
  }
}